main {
  width: 80%;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "h h h"
    "n n n"
    "a a a"
    "f f f";
    background-color: grey;
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

article {
  grid-area: a;
}

ul{
    margin: 0;
    padding-left: 0;
    max-width: 50%;
    word-spacing: 50px;
    text-align: center;
    margin: auto;
}

li{
    text-align: center;
    list-style-type: none;
    display:inline;
    word-spacing: 50px;
}

li a{
    text-decoration: none;
    color: black;
}

header{
    margin: auto;
    text-align: center;
    font-size: x-large;
}

footer{
    margin: auto;
    text-align: center;
    font-size: x-large;
}
footer {
  grid-area: f;
}

ul {
  margin: 0;
  padding-left: 0;
  max-width: 50%;
}

li {
  text-align: center;
  list-style-type: none;
  display: inline;
}

@media only screen and (max-width: 600px) {
  li {
    display: block;
  }
}

body{
    background-image: url(kepek/mac.jpg);
}