body{
    
}


main{
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-areas: "h h h"
                         "n n n"
                         "a a a"
                         "f f f";
}
header{
    display: grid;
    grid-area: h;
}
nav{
    display: grid;
    grid-area: n;
}

article{
    display: grid;
    grid-area: a;
}

footer{
    display: grid;
    grid-area: f;
}

ul{
    margin: 0;
    padding-left: 0;
    max-width: 50%;
    word-spacing: 50px;
    text-align: center;
    margin: auto;
}

li{
    text-align: center;
    list-style-type: none;
    display:inline;
}

li a{
    text-decoration: none;
    color: black;
}

header{
    margin: auto;
    text-align: center;
    font-size: x-large;
}

footer{
    margin: auto;
    text-align: center;
    font-size: x-large;
}